{%- comment -%}
{% include 'premium-pdp-icons' %}
{%- endcomment -%}

<section aria-label="Premium Content" id="shopify-section-product-template-premium">


{%- comment -%}  HERO VIDEO  {%- endcomment -%}
{%- comment -%}
<div class="row premium-block premium-block-hero-video center-xs middle-xs">
  <div class="col-xs-12 col-md-8">
    <video id="herovideo" controls poster="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-video-poster.jpg' | file_url }}">
         <source src="{{ 'VeganCollagenMakeup-CampaignVideo.mp4' | file_url }}" type="video/mp4">
    </video>
   <!--  <div id="vidcontrols">
        <div role="button" aria-label="Pause Video" id="pausebutton" class="vidcontrol" style="display:none;"><i class="fal fa-pause-circle"></i></div>
        <div role="button" aria-label="Play Video" id="playbutton" class="vidcontrol"><i class="fal fa-play-circle"></i></div>
    </div> -->
  </div>
</div>
{%- endcomment -%}

{%- comment -%}  THE RESULTS  {%- endcomment -%}
<div class="row premium-block column-reverse-mobile center-xs middle-xs">
   <div class="col-xs-12 col-sm-9 col-md-6 col-lg-5">
    <div>
     <img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-the-results.jpg' | file_img_url: '600x' }}" alt="Vegan Collagen Fluffy Lash Mascara" class="gs_reveal gs_reveal_fromCenter" loading="lazy">
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-6">
    <div>
      <div class="gs_reveal illustration"><img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-results.png' | file_img_url: '150x' }}" alt="hearts" loading="lazy"></div>
      <div class="heading h1 gs_reveal">THE RESULTS*</div>
      <div class="heading text--medium gs_reveal">
        <ul>
          <li>Instant appearance of longer lashes</li>
          <li>Lashes look thicker and healthier after use</li>
          <li>Up to 12 hours wear</li>
          <span><small><i>*9/10 users agree in 3rd party clinical trial</i></small></span>
        </ul>
      </div>
    </div>
  </div>
</div>

{%- comment -%}  BEFORE & AFTER  {%- endcomment -%}
<div class="row text-center premium-block premium-block-before-after center-xs middle-xs">
  <div class="col-xs-12 col-md-12">
    <div class="heading h1 gs_reveal">BEFORE & AFTER</div>
    <p class="heading text--medium gs_reveal">Adds <span class="font-emphasize">fluffy</span> volume. <br class="hide-desktop">Conditions lashes. <br class="hide-desktop">Fans out for fluttery length.</p>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5">
     <img src="{{ 'sc-vegan-collagen-mascara-before-after-1.jpg' | file_img_url: '600x' }}" alt="Before & After Vegan Collagen Fluffy Lash Mascara" class="gs_reveal gs_reveal_fromLeft" loading="lazy">
  </div>
  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5">
     <img src="{{ 'sc-vegan-collagen-mascara-before-after-2.jpg' | file_img_url: '600x' }}" alt="Before & After Vegan Collagen Fluffy Lash Mascara" class="gs_reveal gs_reveal_fromRight" loading="lazy">
  </div>
  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5">
     <img src="{{ 'sc-vegan-collagen-mascara-before-after-3.jpg' | file_img_url: '600x' }}" alt="Before & After Vegan Collagen Fluffy Lash Mascara" class="gs_reveal gs_reveal_fromLeft" loading="lazy">
  </div>
  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5">
     <img src="{{ 'sc-vegan-collagen-mascara-before-after-4.jpg' | file_img_url: '600x' }}" alt="Before & After Vegan Collagen Fluffy Lash Mascara" class="gs_reveal gs_reveal_fromRight" loading="lazy">
  </div> 
</div>

{%- comment -%}  THE GOOD STUFF  {%- endcomment -%}
<div class="row text-center premium-block premium-block-4 center-xs middle-xs">
  <div class="col-xs-12">
    <div class="heading h1 gs_reveal">THE GOOD STUFF</div>
  </div>
   <div class="col-xs-8 col-md-5 col-lg-4">
     <img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-swatch.jpg' | file_img_url: '600x' }}" alt="Vegan Collagen Fluffy Lash Mascara" class="gs_reveal gs_reveal_fromLeft" loading="lazy">
  </div>
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
     <p class="heading text--medium gs_reveal"><span class="font-gotham-medium">Vegan Collagen</span> Plant-sourced ingredient.</p>
     <p class="heading text--medium gs_reveal"><span class="font-gotham-medium">Plant Fibers</span> add fluttery volume & length.</p>
    <p class="heading text--medium gs_reveal"><span class="font-gotham-medium">Ophthamalogist tested</span> <br class="hide-mobile">& safe for contact wearers.</p>
  </div>
</div>

{%- comment -%}  NO BAD STUFF  {%- endcomment -%}
<div class="row premium-block premium-block-5 center-xs middle-xs">
  <div class="col-xs-12">
    <div class="heading h1 gs_reveal pad-headline">NO BAD STUFF</div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 gs_reveal">
     <p class="heading text--medium gs_reveal"><span class="font-gotham-medium">100% VEGAN AND CRUELTY-FREE</span><br><br> That means no testing on animals and <br>no animal-derived ingredients.</p>
     <p class="subhead gs_reveal">Formulated without beeswax, talc, <br>parabens, phtalates or mineral oil.</p>
  </div>
  <div class="col-xs-7 col-md-3 col-lg-3">
      <img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-bunny-talk.png' | file_img_url: '600x' }}" alt="Bunny" class="gs_reveal gs_reveal_fromRight bunny" loading="lazy">
  </div>
</div>

{%- comment -%}  CLOUDS  {%- endcomment -%}
<div class="floating-clouds ">
  <div class="clouds-section"> 
      <div class="visible-images">
       <div class="cloud-image">
         <img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-clouds1.png' | file_img_url: '1600x' }}" alt="Clouds" loading="lazy">
        </div> 
      </div>
      <div class="hidden-images">
        <div class="cloud-image">
         <img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-clouds1.png' | file_img_url: '1600x' }}" alt="Clouds" loading="lazy">
        </div> 
      </div>
  </div>

  <div class="clouds-section clouds-section-2"> 
      <div class="visible-images">
       <div class="cloud-image2">
         <img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-clouds2.png' | file_img_url: '1600x' }}" alt="Clouds" loading="lazy">
        </div> 
      </div>
      <div class="hidden-images">
        <div class="cloud-image2">
         <img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-clouds2.png' | file_img_url: '1600x' }}" alt="Clouds" loading="lazy">
        </div> 
      </div>
  </div>
</div>

<div class="static-clouds gs_reveal">
  <img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-clouds-mobile.jpg' | file_img_url: '800x' }}" alt="Clouds" loading="lazy">
</div>

{%- comment -%}  FLUFF IT UP BRUSH  {%- endcomment -%}
<div class="premium-block premium-block-6">
  <div class="row flex-center-horizontal flex-center-vertical center-xs middle-xs">
      <div class="col-xs-10">
        <div class="heading h1 gs_reveal pad-headline">FLUFF IT UP BRUSH</div>
      </div>
  </div>

  <div class="row flex-center-horizontal flex-center-vertical column-reverse-mobile  center-xs middle-xs">
    <div class="col-xs-12 col-md-6 col-lg-5">
     <div class="gs_reveal illustration hide-mobile-block"><img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-heart.png' | file_img_url: '100x' }}" alt="heart" loading="lazy"></div>
     <div class="gs_reveal heading text--large "><span class="font-gotham-medium">100% VEGAN BRUSH</span></div>
        <div class="heading text--medium gs_reveal">
          <ul>            
            <li class="gs_reveal">Pear-shaped to <span class="font-emphasize">fluff</span> & fan out every lash</li>
            <li class="gs_reveal">Wider base adds <span class="font-emphasize">fluffy</span> volume across lashes</li>
            <li class="gs_reveal">Narrow tip for detailer outer & inner corners</li>
            <li class="gs_reveal">Result = fanned out & <span class="font-emphasize">fluffed</span> up lashes</li>
          </ul>
        </div>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
       <img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-brush-swatch.jpg' | file_img_url: '600x' }}" alt="Vegan Collagen Fluffy Lash Mascara Brush" class="gs_reveal gs_reveal_fromRight gs_delay_short" loading="lazy">
    </div>
  </div>
</div>


{%- comment -%}  GLASS PACKAGING  {%- endcomment -%}
<div class="row premium-block premium-block-7 center-xs middle-xs">
  <div class="col-xs-12">
    <div class="heading h1 gs_revea pad-headline">GLASS PACKAGING</div>
  </div>
   <div class="col-xs-6 col-md-4 col-lg-3">
     <img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-package.jpg' | file_img_url: '600x' }}" alt="Vegan Collagen Fluffy Lash Mascara" class="gs_reveal gs_reveal_fromLeft gs_delay_short">
  </div>
  <div class="col-xs-12 col-md-4 col-lg-3 text-center gs_reveal_fromRight">
     <div class="gs_reveal illustration hide-mobile-block"><img src="{{ 'premium-pdp-vegan-collagen-fluffy-lash-mascara-recycle.png' | file_img_url: '150x' }}" alt="bottle" loading="lazy"></div>
     <p class="heading text--medium gs_reveal">What's more to love? <br>Comes in a 100% glass vial <br>for easy curbside recycling*</p>
     <p class="heading text--medium gs_reveal"><small><i>*check your local recycling policies</i></small></p>
  </div>
</div>

</section>

<!-- GSAP FOR ANIMATION -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
<script>
gsap.registerPlugin(ScrollTrigger);

ScrollTrigger.defaults({
  toggleActions: "restart pause resume pause"
});


function animateFrom(elem, direction) {
  direction = direction || 1;

  var x = 0,
      y = direction * 100
      startscale = 1;
      myDelay = 0;

  if(elem.classList.contains("gs_reveal_fromLeft")) {
    x = -200;
    y = 0;
    startscale = 1;
  } 
  else if (elem.classList.contains("gs_reveal_fromRight")) {
    x = 200;
    y = 0;
    startscale = 1;
  }
  else if (elem.classList.contains("gs_reveal_fromCenter")) {
    x = 0;
    y = 0;
    startscale = .5;
  }
  
  //delay
  if (elem.classList.contains("gs_delay")) {
    myDelay = .6;
  }
  else if (elem.classList.contains("gs_delay_short")) {
    myDelay = .3;
  }

  elem.style.transform = "translate(" + x + "px, " + y + "px)";
  elem.style.opacity = "0";
  gsap.set(elem, {scale: startscale});

  gsap.fromTo(elem, {x: x, y: y, autoAlpha: 0}, {
    duration: 1.25, 
    x: 0,
    y: 0, 
    scale:1,
    autoAlpha: 1, 
    delay:myDelay,
    ease: "expo", 
    overwrite: "auto"
  });
}

function hide(elem) {
  gsap.set(elem, {autoAlpha: 0});
}

document.addEventListener("DOMContentLoaded", function() {
  gsap.registerPlugin(ScrollTrigger);
  
  gsap.utils.toArray(".gs_reveal").forEach(function(elem) {
    hide(elem); // assure that the element is hidden when scrolled into view
    
    ScrollTrigger.create({
      trigger: elem,
      start:"top bottom",
      onEnter: function() { animateFrom(elem) }, 
      onEnterBack: function() { animateFrom(elem, -1) },
      onLeave: function() { hide(elem) } // assure that the element is hidden when scrolled into view
    });
  });

  
    //scroll clouds
    let cloudimages = gsap.utils.toArray(".cloud-image");
    let cloudimages2 = gsap.utils.toArray(".cloud-image2");

    let containerWidth = window.innerWidth

    let additionalX = { val: 0 };
    let additionalXAnim;

    //clouds 1
    cloudimages.forEach(item => {
      gsap.to(item, {
        x: -containerWidth,
        duration: 25,
        repeat: -1,
        ease: 'none',
        modifiers: {
          x: gsap.utils.unitize(x => {
            additionalX.val  = 0
            x = (parseFloat(x)  + additionalX.val) % -containerWidth
            return x 
          })
        }
      });
    });
      
    //clouds 2
    cloudimages2.forEach(item => {
      gsap.to(item, {
        x: -containerWidth,
        duration: 18,
        repeat: -1,
        ease: 'none',
        modifiers: {
          x: gsap.utils.unitize(x => {
            additionalX.val  = 0
            x = (parseFloat(x)  + additionalX.val) % -containerWidth
            return x 
          })
        }
      });
    });


    const imagesScrollerTrigger = ScrollTrigger.create({
      trigger: '.floating-clouds',
      start: "top 50%",
      end: "bottom 50%",
      markers: false,
      ease: 'none',
      onUpdate: function(self) {
        const velocity = self.getVelocity();
        
        if(additionalXAnim) additionalXAnim.kill();
        
        additionalX.val = velocity/1000;
        
        if (velocity > 0) {   
          additionalXAnim = gsap.to(additionalX, { y: 0 });
        }
      }
    });

});


</script>