{%- comment -%}
{%- endcomment -%}

<section aria-label="Educational Content" class="Educational-Content" id="shopify-section-product-template-education">



{%- comment -%}  THE INGREDIENTS {%- endcomment -%}
<div class="row color-white center-xs middle-xs bg-vegan-ceramide Educational-Content__Block">
  
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6">
    <div class="Educational-Content__Copy text-center">
        <div class="heading h1">What's in our <br class="br-phone-only">Serum?</div>
    </div>
    <div class="row center-xs middle-xs">
        <div class="col-xs-12 col-lg-12  ingredient">
            <div class="sc-ingredients-icon"><img src="{{ 'education-marshmallow-root-illustration.png' | file_url }}" alt="Marshmallow Root Extract"></div>
            <div class="heading text--medium"><strong>Marshmallow Root Extract</strong></div>
            <p>Helps soothe & smooth skin</p>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5  ingredient">
            <div class="sc-ingredients-icon"><img src="{{ 'education-vegan-ceramides-illustration.png' | file_url }}" alt="Vegan Ceramides" loading="lazy"></div>
            <div class="heading text--medium"><strong>Vegan Ceramides</strong></div>
            <p>Hydration & barrier care</p>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5  ingredient">
            <div class="sc-ingredients-icon"><img src="{{ 'education-calendula-illustration.png' | file_url }}" alt="Calendula" loading="lazy"></div>
            <div class="heading text--medium"><strong>Calendula</strong></div>
            <p>Calming care</p>
        </div>
        <div class="col-xs-12 col-lg-12 ingredient">
            <div class="sc-ingredients-icon"><img src="{{ 'education-fragrance-free-illustration.png' | file_url }}" alt="Fragrance Free" loading="lazy"></div>
            <div class="heading text--medium"><strong>Fragrance-Free</strong></div>
            <p>Dermatologist, allergy & sensitive skin tested</p>
        </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-5 text-center big-image">
    <img src="{{ 'education-image-vegan-ceramide-serum.jpg' | file_img_url: '800x' }}" alt="{{ product.title }}" loading="lazy">
  </div>


</div>


{%- comment -%} SKIN BARRIER {%- endcomment -%}
<div class="row color-white flex-center-horizontal flex-center-vertical Educational-Content__Block center-xs middle-xs bg-vegan-ceramide-pink">
    
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
      <div class="Educational-Content__Copy">

       <div class="heading h1 color-yellow">SKIN BARRIER 101</div>
          <p><span class="heading text--medium"><strong><i>Healthy skin starts <br class="hidden-tablet-and-up">with a healthy barrier.</i></strong></span> <br><br><span class="heading text--large">Our vegan ceramides help your skin barrier by <br class="hidden-phone">locking in moisture & keeping out dirt & impurities.</span></p>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="row flex-center-horizontal center-xs middle-xs">
            <div class="col-xs-10 col-sm-5 col-md-5 col-lg-4 Educational-Content__Infographic">
                <p><span class="color-yellow text--medium"><strong>HEALTHY BARRIER</strong></span><br><span class="">Helps protect from allergens, <br class="br-phone-only">irritants, dirt and pollutants.</span></p>
                <img src="{{ 'education-vegan-ceramide-healthy-barrier.png' | file_img_url: '600x' }}" alt="Healthy Skin Barrier" loading="lazy">
            </div> 
            
            <div class="col-sm-1"></div>

            <div class="col-xs-10 col-sm-5 col-md-5 col-lg-4 Educational-Content__Infographic">
                <p><span class="color-yellow text--medium"><strong>UNHEALTHY BARRIER</strong></span><br><span class="">Without proper protection, <br class="br-phone-only">your barrier breaks down.</span></p>
               <img src="{{ 'education-vegan-ceramide-unhealthy-barrier.png' | file_img_url: '600x' }}" alt="Unhealthy Skin Barrier" loading="lazy">
            </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-12 col-md-12 col-lg-8" style="padding-top:40px;">
        <img src="{{ 'education-vegan-ceramide-barrier-legend.png' | file_img_url: '600x' }}" alt="" loading="lazy">
    </div>

</div>



</section>


